# Learning
This notebook contains some simple example of using jupyter Notebook and *Python3*

## Example : Hello world!

In [1]:
my_name = "Milad"
hello_statement = "Hello " + my_name
print(hello_statement, end = "\n\n")
x = 0

Hello Milad

# Here is nother *Example*

In [2]:
for j in range(1, 5):
    x = x + j
    print("j={0}    x = {1}".format(j,x))

j=1    x = 1
j=2    x = 3
j=3    x = 6
j=4    x = 10

In [2]:
print("test")

test

In [ ]:
se